[Unit]
Description=Valon 5009 container instance %I
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=2
EnvironmentFile=/etc/sysconfig/docker-valon5009-epics-ioc
EnvironmentFile=/etc/sysconfig/docker-valon5009-epics-ioc-mapping
Environment=IMAGE_VERSION=0.3.0-base-3.15-debian-9
# Used inside runValon5009 script
Environment=VALON_INSTANCE=%i
ExecStartPre=-/usr/bin/docker pull lnlsdig/valon5009-epics-ioc:${IMAGE_VERSION}
ExecStart=/usr/local/bin/runValon5009.sh
ExecStop=/usr/local/bin/stopValon5009.sh

[Install]
WantedBy=multi-user.target
